<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>淘宝网 - 淘！我喜欢</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
  <script src="js/v.js"></script>
  <link rel="stylesheet" href="css/e-ui.css">
  <script src="js/e-ui.js"></script>
  <link rel="stylesheet" href="css/nprogress.css">
  <script src="js/nprogress.js"></script>
</head>
<body>
<div id="app">
  <!--头部-->
  <div class="header width_full">
    <!--导航栏-->
    <div class="nav clearfix">
      <div class="nav_container width_1300">
        <ul class="menu1">
          <li>
            <a href="#">中国大陆</a>
            <i class="fa fa-angle-down"></i>
            <ul>
              <li><a href="#">全球</a></li>
              <li><a href="#">中国大陆</a></li>
              <li><a href="#">中国香港</a></li>
              <li><a href="#">中国台湾</a></li>
              <li><a href="#">中国澳门</a></li>
              <li><a href="#">韩国</a></li>
              <li><a href="#">马来西亚</a></li>
              <li><a href="#">澳大利亚</a></li>
              <li><a href="#">新加坡</a></li>
              <li><a href="#">新西兰</a></li>
              <li><a href="#">加拿大</a></li>
              <li><a href="#">美国</a></li>
              <li><a href="#">日本</a></li>
            </ul>
          </li>
          <li>
            <a style="color: #F22E00" href="#">亲，请登录</a>
          </li>
          <li>
            <a href="#">免费注册</a>
          </li>
          <li>
            <a href="#">手机逛淘宝</a>
          </li>
        </ul>
        <ul class="menu2">
          <li>
            <a href="#">我的淘宝</a>
            <i class="fa fa-angle-down"></i>
            <ul>
              <li><a href="#">已经买到的宝贝</a></li>
              <li><a href="#">我的足迹</a></li>
            </ul>
          </li>
          <li>
            <i style="color: #F22E00;font-size: 13px" class="fa fa-shopping-cart"></i>
            <a href="#">购物车</a>
            <i class="fa fa-angle-down"></i>
          </li>
          <li>
            <i style="color: #9C9C9C;font-size: 13px" class="fa fa-star"></i>
            <a href="#">收藏夹</a>
            <i class="fa fa-angle-down"></i>
            <ul>
              <li><a href="#">收藏的宝贝</a></li>
              <li><a href="#">收藏的店铺</a></li>
            </ul>
          </li>
          <li>
            <a href="#">商品分类</a>
          </li>
          <li>
            <a href="#">免费开店</a>
          </li>
          <li>
            <a href="#">千牛卖家中心</a>
            <i class="fa fa-angle-down"></i>
            <ul>
              <li><a href="#">免费开店</a></li>
              <li><a href="#">已卖出的宝贝</a></li>
              <li><a href="#">出售中的宝贝</a></li>
              <li><a href="#">卖家服务市场</a></li>
              <li><a href="#">卖家培训中心</a></li>
              <li><a href="#">体验中心</a></li>
              <li><a href="#">问商友</a></li>
            </ul>
          </li>
          <li>
            <a href="#">联系客服</a>
            <i class="fa fa-angle-down"></i>
            <ul>
              <li><a href="#">消费者客服</a></li>
              <li><a href="#">卖家客服</a></li>
            </ul>
          </li>
          <li class="nav_on">
            <i style="color: #F22E00;font-size: 13px" class="fa fa-list"></i>
            <a href="#">网站导航</a>
            <i class="fa fa-angle-down"></i>
            <div class="nav_menu clearfix">
              <div>
                <h3 style="color: #AD45DF" class="emphasis">主题市场</h3>
                <ul>
                  <li><a href="#">女装</a></li>
                </ul>
              </div>
              <div>
                <h3 style="color: #5daf34" class="emphasis">特色市场</h3>
                <ul>
                  <li><a href="#">女装</a></li>
                  <li><a href="#">女装</a></li>
                </ul>
              </div>
              <div>
                <h3 style="color: #AD45DF" class="emphasis">阿里APP</h3>
                <ul>
                  <li><a href="#">女装</a></li>
                  <li><a href="#">女装</a></li>
                  <li><a href="#">女装</a></li>
                </ul>
              </div>
              <div>
                <h3 style="color: #3a8ee6" class="emphasis">精彩推荐集</h3>
                <ul>
                  <li><a href="#">女装</a></li>
                  <li><a href="#">女装</a></li>
                  <li><a href="#">女装</a></li>
                  <li><a href="#">女装</a></li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!--淘小铺宣传图-->
    <div style="background-color: #fd5632;display: flex;align-items: center" class="width_full">
      <img class="width_1300" src="img/top_image.jpg" alt="">
    </div>
    <!--图片菜单-->
    <div class="img_menu clearfix">
      <div class="img_menu_container width_1300 clearfix">
        <div class="con" style="background-image: url('img/img_01.png')">
          <div>
            <h2>生活百货</h2>
            <p>保暖热卖爆款</p>
          </div>
          <img src="img/sp_1.png" alt="">
        </div>
        <div class="con" style="background-image: url('img/img_02.png')">
          <div>
            <h2>潮流数码</h2>
            <p>数码精品打赏</p>
          </div>
          <img src="img/sp_2.png" alt="">
        </div>

        <div class="con" style="background-image: url('img/img_03.png')">
          <div>
            <h2>热卖女装</h2>
            <p>冬日尚新约惠</p>
          </div>
          <img src="img/sp_3.png" alt="">
        </div>

        <div class="con" style="background-image: url('img/img_04.png')">
          <div>
            <h2>运动户外</h2>
            <p>运动潮流大赏</p>
          </div>
          <img src="img/sp_4.png" alt="">
        </div>

        <div class="con" style="background-image: url('img/img_05.png')">
          <div>
            <h2>珠宝饰品</h2>
            <p>冬季美饰新品</p>
          </div>
          <img src="img/sp_5.png" alt="">
        </div>

      </div>
    </div>
  </div>
  <!--主要的-->
  <div class="major width_1300">
    <!--搜索-->
    <div class="search center_vertical radius_bg">
      <img src="img/logo.gif" alt="">
      <div class="search_layout">
        <div class="search_top">
          <ul>
            <li style="margin-left: 20px;background-color: #F22E00;
    background-image: linear-gradient(#FF8900,#FF5600);
    color: white;border-radius: 6px 6px 0 0;padding: 4px;font-weight: bold">宝贝
            </li>
            <li>天猫</li>
            <li>店铺</li>
          </ul>
        </div>
        <div class="search_bg center_vertical">
          <i class="fa fa-search"></i>
          <input type="text" placeholder="鞠伟婧同款">
          <button>搜索</button>
        </div>
        <ul>
          <li><a href="#">新款连衣裙</a></li>
          <li><a href="#">四件套</a></li>
          <li><a href="#">潮流T桖</a></li>
          <li><a href="#">时尚女鞋</a></li>
          <li><a href="#">短裤</a></li>
          <li><a href="#">半身裙</a></li>
          <li><a href="#">男士外套</a></li>
          <li><a href="#">墙纸</a></li>
          <li><a href="#">新车记录仪</a></li>
          <li><a href="#">新款男装</a></li>
          <li><a href="#">时尚女包</a></li>
          <li><a href="#">沙发</a></li>
        </ul>
      </div>
      <div class="hongbao">
        <p>去领红包</p>
        <img src="img/hongbao.png" alt="">
      </div>
    </div>
    <!--主题-->
    <div id="subject" class="subject">
      <div class="subject_container width_1300">
        <div style="color: white" class="market">主题市场</div>
        <ul>
          <li><a href="#">天猫</a></li>
          <li><a href="#">聚划算</a></li>
          <li><a href="#">天猫超市</a></li>
          <li><a href="#">淘抢购</a></li>
          <li><a href="#">电器械</a></li>
          <li><a href="#">司法拍卖</a></li>
          <li><a href="#">淘宝心选</a></li>
          <li><a href="#">飞猪旅行</a></li>
          <li><a href="#">智能生活</a></li>
          <li><a href="#">舒宁易购</a></li>
        </ul>
      </div>
    </div>
    <!--主区域-->
    <div class="main">
      <!--菜单显示-->
      <div class="exhibition">
        <ul>
          <li>
            <a href="#">女装</a>/<a href="#">内衣</a>/<a href="#">家居</a>
            <i class="fa fa-angle-right"></i>
            <div></div>
          </li>
          <li>
            <a href="#">女鞋</a>/<a href="#">男装</a>/<a href="#">箱包</a>
            <i class="fa fa-angle-right"></i>
            <div></div>
          </li>
          <li>
            <a href="#">母婴</a>/<a href="#">童装</a>/<a href="#">玩具</a>
            <i class="fa fa-angle-right"></i>
            <div></div>
          </li>
          <li>
            <a href="#">男孩</a>/<a href="#">运动户外</a>
            <i class="fa fa-angle-right"></i>
            <div></div>
          </li>
          <li>
            <a href="#">美妆</a>/<a href="#">彩妆</a>/<a href="#">个护</a>
            <i class="fa fa-angle-right"></i>
            <div></div>
          </li>
          <li>
            <a href="#">手机</a>/<a href="#">数码</a>/<a href="#">企业</a>
            <i class="fa fa-angle-right"></i>
            <div></div>
          </li>
          <li>
            <a href="#">大家电</a>/<a href="#">生活电器</a>
            <i class="fa fa-angle-right"></i>
            <div></div>
          </li>
          <li>
            <a href="#">零食</a>/<a href="#">生鲜</a>/<a href="#">茶酒</a>
            <i class="fa fa-angle-right"></i>
            <div></div>
          </li>
          <li>
            <a href="#">厨具</a>/<a href="#">收纳</a>/<a href="#">清洁</a>
            <i class="fa fa-angle-right"></i>
            <div></div>
          </li>
          <li>
            <a href="#">家纺</a>/<a href="#">家饰</a>/<a href="#">鲜花</a>
            <i class="fa fa-angle-right"></i>
            <div></div>
          </li>
          <li>
            <a href="#">图书音像</a>/<a href="#">文具</a>
            <i class="fa fa-angle-right"></i>
            <div></div>
          </li>
          <li>
            <a href="#">医疗保健</a>/<a href="#">进口</a>
            <i class="fa fa-angle-right"></i>
            <div></div>
          </li>
          <li>
            <a href="#">汽车</a>/<a href="#">二手车</a>/<a href="#">用品</a>
            <i class="fa fa-angle-right"></i>
            <div></div>
          </li>
          <li>
            <a href="#">房产</a>/<a href="#">装修家居</a>/<a href="#">建材</a>
            <i class="fa fa-angle-right"></i>
            <div></div>
          </li>
          <li>
            <a href="#">手表</a>/<a href="#">眼镜</a>/<a href="#">珠宝饰品</a>
            <i class="fa fa-angle-right"></i>
            <div></div>
          </li>
        </ul>
      </div>
      <!--轮播图-->
      <div class="banner clearfix">
        <div class="left">
          <div class="top">
            <el-carousel height="356px">
              <el-carousel-item v-for="url in imgUrls" :key="url">
                <a href="#">
                  <el-image
                          style="width: 100%; height: 100%"
                          :src="url"
                          :fit="fit">
                  </el-image>
                </a>
              </el-carousel-item>
            </el-carousel>
          </div>
          <div class="bottom">
            <a href="#"><div class="left"></div></a>
            <a href="#"><div class="right"></div></a>
          </div>
        </div>
        <div class="right">
          <a href="#"><div class="top"></div></a>
          <a href="#"><div class="bottom"></div></a>
        </div>
      </div>
      <!--用户板块-->
      <div class="user">
        <div class="user_icon">
          <img style="display: block;width: 100%;height: 100%" src="img/user_icon.jpg" alt="">
        </div>
        <p style="margin-top: 10px">Hi! 你好</p>
        <div style="margin-top: 10px">
          <button class="button_bg">登录</button>
          <button class="button_bg">注册</button>
          <button class="button_bg">开店</button>
        </div>
        <img style="width: 100%" src="img/user_img01.jpg" alt="">
        <ul class="nac clearfix">
          <li>公告
            <div class="line"></div>
          </li>
          <li>规则</li>
          <li>论坛</li>
          <li>安全</li>
          <li>公益</li>
        </ul>
        <br>
        <p style="color: #FF5000;font-size: 13px;font-weight: bold;margin: 4px 0 10px 0">淘宝公益平台正式更名 益起来商家招募即将截止</p>
        <ul class="gn clearfix">
          <li>
            <a href="#">
              <div style="background-position: center 5px;"></div>
              <p>充话费</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div style="background-position: center -40px;"></div>
              <p>旅行</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div style="background-position: center -85px;"></div>
              <p>车险</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div style="background-position: center -128px;"></div>
              <p>游戏</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div style="background-position: center -175px;"></div>
              <p>彩票</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div style="background-position: center -220px;"></div>
              <p>电影</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div style="background-position: center -265px;"></div>
              <p>酒店</p>
            </a>
          </li>
          <li>
            <a href="#">
              <div style="background-position: center -310px;"></div>
              <p>理财</p>
            </a>
          </li>
        </ul>
        <div class="app">
          <div style="margin: 10px 0;" class="clearfix">
            <strong>阿里APP</strong>
            <span style="float: right;font-size: 13px">更多</span>
          </div>
          <div class="icon">
            <img src="img/tb_icon.png" alt="">
            <img src="img/tm_icon.png" alt="">
            <img src="img/zfb_icon.png" alt="">
            <img src="img/dd_icon.png" alt="">
            <img src="img/txp_icon.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <!--有好货-->
    <div class="goods width_1300">
      <div class="header">
        <img class="logo" src="img/youhh.png" alt="">
        <span class="title">与品质生活不期而遇</span>
      </div>
      <ul class="clearfix">
        <li>
          <img src="img/goods_img01.jpg" alt="">
          <h3>大豆家 大头奶奶鞋</h3>
          <p>一脚蹬设计，方便日常的穿</p>
          <p class="extra">
            <i class="fa fa-smile-o"></i>
            <span>3758人说好</span>
          </p>
        </li>
        <li>
          <img src="img/goods_img02.jpg" alt="">
          <h3>佳宝路转角水槽</h3>
          <p>304不锈钢，表面光洁坚固耐用。</p>
          <p class="extra">
            <i class="fa fa-smile-o"></i>
            <span>123人说好</span>
          </p>
        </li>
        <li>
          <img src="img/goods_img03.jpg" alt="">
          <h3>肖优秀真皮细高跟过膝瘦腿弹力靴</h3>
          <p>细跟尖头设计更显优雅女人味。</p>
          <p class="extra">
            <i class="fa fa-smile-o"></i>
            <span>68人说好</span>
          </p>
        </li>
        <li>
          <img src="img/goods_img04.jpg" alt="">
          <h3>LANCOME秋冬限量迷雾红管唇膏</h3>
          <p>雾面质感暗红色管身，优雅而高贵。</p>
          <p class="extra">
            <i class="fa fa-smile-o"></i>
            <span>16人说好</span>
          </p>
        </li>
        <li>
          <img src="img/goods_img05.jpg" alt="">
          <h3>汽车盲点变道辅助系统，后视镜提醒</h3>
          <p>行车安全盲区监测系统，采用钻波探测</p>
          <p class="extra">
            <i class="fa fa-smile-o"></i>
            <span>24人说好</span>
          </p>
        </li>
        <li>
          <img src="img/goods_img06.jpg" alt="">
          <h3>PUMA芥末绿复古老爹鞋</h3>
          <p>芥末绿色的鞋面视觉上给人一种清新感。</p>
          <p class="extra">
            <i class="fa fa-smile-o"></i>
            <span>7人说好</span>
          </p>
        </li>
      </ul>
    </div>
    <!--插图-->
    <img class="width_1300" style="margin-top: 4px" src="img/ct.jpg" alt="">
    <!--每日好店 淘宝直播-->
    <div class="recommend width_1300 clearfix">
      <div class="mrhd clearfix">
        <div class="header">
          <img src="img/mrhd.png" alt="">
          <span class="title">发现深藏的好店</span>
        </div>
        <div class="content clearfix">
          <div class="top clearfix">
            <div class="left">
              <h4 class="title">万能集市</h4>
              <div class="img_content clearfix">
                <img class="img_left" src="img/img_100.jpg" alt="">
                <div class="img_right_content">
                  <img class="img_top" src="img/img_101.jpg" alt="">
                  <img class="img_bottom" src="img/img_102.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="right">
              <h4 class="title">淘宝江湖</h4>
              <div class="img_content clearfix">
                <img class="img_left" src="img/img_103.jpg" alt="">
                <div class="img_right_content">
                  <img class="img_top" src="img/img_104.jpg" alt="">
                  <img class="img_bottom" src="img/img_105.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="top clearfix">
            <div class="left">
              <h4 class="title">深藏不漏</h4>
              <div class="img_content clearfix">
                <img class="img_left" src="img/img_106.jpg" alt="">
                <div class="img_right_content">
                  <img class="img_top" src="img/img_107.jpg" alt="">
                  <img class="img_bottom" src="img/img_108.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="right">
              <h4 class="title">高手林立</h4>
              <div class="img_content clearfix">
                <img class="img_left" src="img/img_109.jpg" alt="">
                <div class="img_right_content">
                  <img class="img_top" src="img/img_1010.jpg" alt="">
                  <img class="img_bottom" src="img/img_1011.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tbzb">
        <div class="header">
          <img src="img/tbzb.png" alt="">
          <span class="title">你的爱豆直播等你哟！</span>
        </div>
        <div class="content clearfix">
          <div class="top clearfix">
            <div class="left">
              <h4 class="title">宝福绿松石</h4>
              <div class="img_content clearfix">
                <img class="img_left" src="img/img_100.jpg" alt="">
                <div class="img_right_content">
                  <img class="img_top" src="img/img_101.jpg" alt="">
                  <img class="img_bottom" src="img/img_102.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="right">
              <h4 class="title">OMMO欧美</h4>
              <div class="img_content clearfix">
                <img class="img_left" src="img/img_103.jpg" alt="">
                <div class="img_right_content">
                  <img class="img_top" src="img/img_104.jpg" alt="">
                  <img class="img_bottom" src="img/img_105.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="top clearfix">
            <div class="left">
              <h4 class="title">三亚小罗珊瑚玉</h4>
              <div class="img_content clearfix">
                <img class="img_left" src="img/img_106.jpg" alt="">
                <div class="img_right_content">
                  <img class="img_top" src="img/img_107.jpg" alt="">
                  <img class="img_bottom" src="img/img_108.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="right">
              <h4 class="title">小伍说</h4>
              <div class="img_content clearfix">
                <img class="img_left" src="img/img_109.jpg" alt="">
                <div class="img_right_content">
                  <img class="img_top" src="img/img_1010.jpg" alt="">
                  <img class="img_bottom" src="img/img_1011.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--特色好物-->
    <div class="tshw clearfix">
      <div class="tshw_left">
        <div class="title center_vertical">
          <div style="background-color: #AD45DF" class="indicator"></div>
          <h2 style="color: #AD45DF" class="emphasis">特色好物</h2>
        </div>
        <ul class="border_block">
          <li>
            <h3>拍卖</h3>
            <p>1元起拍捡漏</p>
            <img src="img/tshw_01.jpg" alt="">
          </li>
          <li>
            <h3>淘小铺</h3>
            <p>每月多赚1000元</p>
            <img src="img/tshw_02.jpg" alt="">
          </li>
          <li>
            <h3>造点新货</h3>
            <p>全球创意众筹平台</p>
            <img src="img/tshw_03.jpg" alt="">
          </li>
          <li>
            <h3>淘宝心选</h3>
            <p>美好而有用</p>
            <img src="img/tshw_04.jpg" alt="">
          </li>
        </ul>
      </div>
      <div class="tshw_right border">
        <img src="img/tshw_05.jpg" alt="">
      </div>
    </div>
    <!--热卖单品-->
    <div class="hot radius_bg clearfix">
      <div class="title center_vertical">
        <div class="indicator"></div>
        <h2 class="emphasis">热卖单品</h2>
      </div>
      <ul class="sp">
        <li><a href="#">沙发</a></li>
        <li><a href="#">书包</a></li>
        <li><a href="#">粉底</a></li>
        <li><a href="#">女内衣</a></li>
        <li><a href="#">牙膏</a></li>
        <li><a href="#">iphone</a></li>
        <li><a href="#">vivo</a></li>
        <li><a href="#">杯子</a></li>
        <li><a href="#">女t桖</a></li>
        <li><a href="#">洗发水</a></li>
        <li><a href="#">男士t桖</a></li>
        <li><a href="#">手机壳</a></li>
        <li><a href="#">苹果</a></li>
        <li><a href="#">女衬衫</a></li>
        <li><a href="#">大码女装</a></li>
        <li><a href="#">充电宝</a></li>
        <li><a href="#">防晒霜</a></li>
        <li><a href="#">无线耳机</a></li>
        <li><a href="#">牛仔裤</a></li>
        <li><a href="#">华为手机</a></li>
        <li><a href="#">新款分享</a></li>
      </ul>
      <ul class="img_ul cast_inb border_block">
        <li>
          <img src="img/img_11.png" alt="">
          <div class="line_text">
            <span class="money">￥89</span>
            <span class="length">月销2456笔</span>
          </div>
        </li>
        <li>
          <img src="img/img_12.png" alt="">
          <div class="line_text">
            <span class="money">￥89</span>
            <span class="length">月销2456笔</span>
          </div>
        </li>
        <li>
          <img src="img/img_13.png" alt="">
          <div class="line_text">
            <span class="money">￥89</span>
            <span class="length">月销2456笔</span>
          </div>
        </li>
        <li>
          <img src="img/img_14.png" alt="">
          <div class="line_text">
            <span class="money">￥89</span>
            <span class="length">月销2456笔</span>
          </div>
        </li>
        <li>
          <img src="img/img_15.png" alt="">
          <div class="line_text">
            <span class="money">￥89</span>
            <span class="length">月销2456笔</span>
          </div>
        </li>
        <li>
          <img src="img/img_11.png" alt="">
          <div class="line_text">
            <span class="money">￥89</span>
            <span class="length">月销2456笔</span>
          </div>
        </li>
        <li>
          <img src="img/img_12.png" alt="">
          <div class="line_text">
            <span class="money">￥89</span>
            <span class="length">月销2456笔</span>
          </div>
        </li>
        <li>
          <img src="img/img_13.png" alt="">
          <div class="line_text">
            <span class="money">￥89</span>
            <span class="length">月销2456笔</span>
          </div>
        </li>
        <li>
          <img src="img/img_12.png" alt="">
          <div class="line_text">
            <span class="money">￥89</span>
            <span class="length">月销2456笔</span>
          </div>
        </li>
        <li>
          <img src="img/img_13.png" alt="">
          <div class="line_text">
            <span class="money">￥89</span>
            <span class="length">月销2456笔</span>
          </div>
        </li>
      </ul>
    </div>
    <!--中间区域的Banner-->
    <div class="ct_banner clearfix">
      <img src="img/banner_02.jpg" alt="">
      <img src="img/banner_03.jpg" alt="">
      <img src="img/banner_04.jpg" alt="">
    </div>
    <!--猜你喜欢-->
    <div class="hot radius_bg clearfix">
      <div class="title center_vertical">
        <div style="background-color: #ff9f00;" class="indicator"></div>
        <h2 style="color: #ff9f00;" class="emphasis">猜你喜欢</h2>
      </div>
      <ul class="img_ul cast_inb border_block">
        <li>
          <img src="img/img_11.png" alt="">
          <h4 class="content_text">2020秋冬真狐狸毛领女士羊绒大衣韩版中长款修身显瘦收腰毛呢</h4>
          <div class="line_text">
            <span class="money">￥89</span>
            <span class="length">月销2456笔</span>
          </div>
          <a href="#">发现更多相似的宝贝</a>
        </li>
        <li>
          <img src="img/img_12.png" alt="">
          <h4 class="content_text">简欧式高档雪尼尔绣花蓝色窗帘成品遮光卧室客厅落地飘窗帘布</h4>
          <div class="line_text">
            <span class="money">￥89</span>
            <span class="length">月销2456笔</span>
          </div>
          <a href="#">发现更多相似的宝贝</a>
        </li>
        <li>
          <img src="img/img_13.png" alt="">
          <h4 class="content_text">小折叠门 时尚卫浴门 阳台折叠门推拉门 浴室折叠门卫生间</h4>
          <div class="line_text">
            <span class="money">￥89</span>
            <span class="length">月销2456笔</span>
          </div>
          <a href="#">发现更多相似的宝贝</a>
        </li>
        <li>
          <img src="img/img_14.png" alt="">
          <h4 class="content_text">Steelcase Series 1人体工学电脑椅办公椅</h4>
          <div class="line_text">
            <span class="money">￥89</span>
            <span class="length">月销2456笔</span>
          </div>
          <a href="#">发现更多相似的宝贝</a>
        </li>
        <li>
          <img src="img/img_15.png" alt="">
          <h4 class="content_text">b入：高端 alpaca阿尔巴卡羊驼绒毛双面羊绒大衣外套女</h4>
          <div class="line_text">
            <span class="money">￥89</span>
            <span class="length">月销2456笔</span>
          </div>
          <a href="#">发现更多相似的宝贝</a>
        </li>
        <li>
          <img src="img/img_11.png" alt="">
          <h4 class="content_text">郑秀妍同款黑色短大衣外套加厚羊毛西装</h4>
          <div class="line_text">
            <span class="money">￥89</span>
            <span class="length">月销2456笔</span>
          </div>
          <a href="#">发现更多相似的宝贝</a>
        </li>
        <li>
          <img src="img/img_12.png" alt="">
          <h4 class="content_text">2020新款羊绒大衣女民族风重工刺绣收腰立领结婚新娘羊毛呢外</h4>
          <div class="line_text">
            <span class="money">￥89</span>
            <span class="length">月销2456笔</span>
          </div>
          <a href="#">发现更多相似的宝贝</a>
        </li>
        <li>
          <img src="img/img_13.png" alt="">
          <h4 class="content_text">赫本风2020秋冬韩版双面羊绒大衣女中长款学生100%羊毛毛呢外</h4>
          <div class="line_text">
            <span class="money">￥89</span>
            <span class="length">月销2456笔</span>
          </div>
          <a href="#">发现更多相似的宝贝</a>
        </li>
        <li>
          <img src="img/img_12.png" alt="">
          <h4 class="content_text">郑秀妍同款黑色短大衣外套加厚羊毛西装</h4>
          <div class="line_text">
            <span class="money">￥89</span>
            <span class="length">月销2456笔</span>
          </div>
          <a href="#">发现更多相似的宝贝</a>
        </li>
        <li>
          <img src="img/img_13.png" alt="">
          <h4 class="content_text">秋冬新品水波纹双面羊绒女高端羊毛呢子中长款韩版毛呢外套</h4>
          <div class="line_text">
            <span class="money">￥89</span>
            <span class="length">月销2456笔</span>
          </div>
          <a href="#">发现更多相似的宝贝</a>
        </li>
      </ul>
    </div>
  </div>
  <!--底部-->
  <div class="footer width_1300 clearfix">
    <p style="color: #CCCCD0;font-family: '微软雅黑';font-weight: 500;font-size: 20px;text-align: center;">END</p>
    <ul>
      <li class="item">
        <div>
          <i style="font-size: 40px;color: #999999" class="fa fa-shield"></i>
          <span>消费者保障</span>
        </div>
        <ul>
          <li><a href="#">保障范围</a></li>
          <li><a href="#">退货退款流程</a></li>
          <li><a href="#">服务中心</a></li>
          <li><a href="#">更多特色服务</a></li>
        </ul>
      </li>
      <li class="item">
        <div>
          <i style="font-size: 40px;color: #999999" class="fa fa-question-circle"></i>
          <span>新手上路</span>
        </div>
        <ul>
          <li><a href="#">新手专区</a></li>
          <li><a href="#">消费警示</a></li>
          <li><a href="#">交易安全</a></li>
          <li><a href="#">24小时在线帮助</a></li>
          <li><a href="#">免费开店</a></li>
        </ul>
      </li>
      <li class="item">
        <div>
          <i style="font-size: 40px;color: #999999" class="fa fa-credit-card"></i>
          <span>付款方式</span>
        </div>
        <ul>
          <li><a href="#">快捷支付</a></li>
          <li><a href="#">信用卡</a></li>
          <li><a href="#">余额宝</a></li>
          <li><a href="#">蚂蚁花呗</a></li>
          <li><a href="#">货到付款</a></li>
        </ul>
      </li>
      <li class="item">
        <div>
          <i style="font-size: 40px;color: #999999" class="fa fa-github-alt"></i>
          <span>淘宝特色</span>
        </div>
        <ul>
          <li><a href="#">手机淘宝</a></li>
          <li><a href="#">旺旺/旺信</a></li>
          <li><a href="#">大众审评</a></li>
        </ul>
      </li>
    </ul>
    <ul class="menu2 clearfix">
      <li class="item">
        <p>用户帮助</p>
        <ul>
          <li><a href="#">申请退款</a></li>
          <li><a href="#">常见问题</a></li>
          <li><a href="#">用户协议</a></li>
          <li><a href="#">隐私政策</a></li>
          <li><a href="#">反诈骗公告</a></li>
          <li><a href="#">消费者权益保障</a></li>
          <li><a href="#">申请退款</a></li>
          <li><a href="#">常见问题</a></li>
          <li><a href="#">用户协议</a></li>
          <li><a href="#">隐私政策</a></li>
          <li><a href="#">反诈骗公告</a></li>
          <li><a href="#">消费者权益保障</a></li>
        </ul>
      </li>
      <li class="item">
        <p>关于我们</p>
        <ul>
          <li><a href="#">关于淘宝</a></li>
          <li><a href="#">合作伙伴</a></li>
          <li><a href="#">营销中心</a></li>
          <li><a href="#">廉正举报</a></li>
          <li><a href="#">联系客服</a></li>
          <li><a href="#">开放平台</a></li>
          <li><a href="#">诚征英才</a></li>
          <li><a href="#">联系我们</a></li>
          <li><a href="#">网站地图</a></li>
          <li><a href="#">隐私权政策</a></li>
          <li><a href="#">法律声明</a></li>
          <li><a href="#">知识产权</a></li>
        </ul>
      </li>
      <li class="item">
        <p>联系我们</p>
        <ul>
          <li><a href="#">淘宝消费者：9510211</a></li>
          <li><a href="#">淘宝商家：0571-88157858</a></li>
          <li><a href="#">天猫消费者：9510211</a></li>
          <li><a href="#">天猫商家：400-860-8608</a></li>
          <li><a href="#">天天猫国际消费者：400-843-2288</a></li>
          <li><a href="#">肥猪旅行：400-1688-688</a></li>
          <li><a href="#">阿里妈妈：0571-88157999</a></li>
          <li><a href="#">淘宝电影：0571-88157838</a></li>
          <li><a href="#">农村淘宝：0571-88157838</a></li>
          <li><a href="#">中国台湾地区：（886）277054306</a></li>
          <li><a href="#">中国香港、澳门地区：（852）30183610</a></li>
          <li><a href="#">新加坡地区：（65）31633159</a></li>
        </ul>
      </li>
      <li class="item">
        <p>友情链接</p>
        <ul>
          <li><a href="#">阿里巴巴集团</a></li>
          <li><a href="#">淘宝网</a></li>
          <li><a href="#">天猫</a></li>
          <li><a href="#">聚划算</a></li>
          <li><a href="#">全球速卖通</a></li>
          <li><a href="#">阿里巴巴国际交易市场</a></li>
          <li><a href="#">1688</a></li>
          <li><a href="#">阿里妈妈</a></li>
          <li><a href="#">飞猪</a></li>
          <li><a href="#">淘小铺</a></li>
          <li><a href="#">阿里云计算</a></li>
          <li><a href="#">AliOS</a></li>
        </ul>
      </li>
    </ul>
    <div class="bottom clearfix">
      <div class="left">
        <p><a>&copy;2003-现在 Taobao.com 版权所有</a><a style="margin-left: 10px">浙网文（2019）1033-086号</a></p>
        <p><a href="#">浙江省网络食品销售第三方平台提供者备案：浙网食A33010001</a></p>
        <p>
          <a href="#">互联网药品信息服务资格证书（浙）-经营性-2018-0010</a>
        </p>
        <p>
          <a @click="showMsg" href="#">Design By BJZ</a>
        </p>
      </div>
      <div class="right">
        <p>
          <span class="ba"></span>
          <a href="#">浙公网安备 33010002000078号 </a>
        </p>
        <p>
          <img src="img/beian1.gif" alt="">
          <img src="img/sh.jpg" alt="">
        </p>
      </div>
    </div>
  </div>
  <!--悬浮搜索框-->
  <div v-if="searchShow" id="base_search" class="base_search width_full">
    <div class="container width_1300">

      <img class="logo" src="img/tbw.png" alt="">
      <div class="layout clearfix">
        <el-dropdown>
          <span class="el-dropdown-link">宝贝<i class="el-icon-arrow-down el-icon--right"></i></span>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item>天猫</el-dropdown-item>
            <el-dropdown-item>店铺</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
        <i style="color: #666666;margin-left: 10px" class="fa fa-search"></i>
        <input type="text" placeholder="被罩固定器">
        <i class="fa fa-camera camera"></i>
        <button>搜索</button>
      </div>
    </div>
  </div>
</div>
<script>

  NProgress.configure({easing: 'ease', speed: 500, showSpinner: false})

  const app = new Vue({
    el: "#app",
    data: {
      fit: "fill",
      imgUrls: [
        "img/main_banner_01.png",
        "img/main_banner_02.png",
        "img/main_banner_03.png",
        "img/main_banner_04.png",
      ],
      searchShow: false,
      inputData: ""
    },
    created() {
      NProgress.set(0)
      this.$message({
        message: 'Design By BJZ',
        type: 'success'
      });
    },
    mounted() {
      /* 指示器滑动监听器 */
      window.addEventListener("scroll", this.handleScroll)
      /* 搜索框滑动监听器 */
      window.addEventListener("scroll", this.handleSearchScroll)

    },
    methods: {
      handleScroll() {
        /* 屏幕剩余的高度 */
        let surplus = document.documentElement.scrollHeight - document.documentElement.clientHeight;
        /* 当前滑动高度 */
        let scrollY = document.documentElement.scrollTop;
        /* 当前位置百分比小数 */
        let y = scrollY / surplus;
        /* 动态设置进度 */
        NProgress.set(y);
      },
      handleSearchScroll(){
        const subject = document.getElementById("subject").offsetTop
        if (document.documentElement.scrollTop > subject){
          this.searchShow = true
        }else {
          this.searchShow = false
        }
      },
      showMsg() {
        this.$notify({
          title: '提示',
          message: 'QQ: 468504329 WX: bpdbisir',
          type: 'success'
        });
      }
    }
  })
</script>
</body>
</html>
